* { 
margin:0;
padding:0;
}

body{
background-image:url("../img/bg");
background-repeat:no-repeat;
background-color:black;
}

.titulo {
background-color:black;
border:1px solid cyan;
text-align:center;
}

li { 
padding:10px;
float:left;
width:11%;
list-style-type:none;
color:white;
background-color:black;
position:relative;
text-align:center;
}

li:hover {
color:black;
background-color:white;
border:2px solid cyan
}

#header {
color:white;
}

#login {
width:15%;
padding:10px;
position:relative;
color:white;
margin-top:3%;

}

iframe {
border:1px solid grey;
}

input{
margin:10px;
background-color:grey;
}
.boton {
background-color:white;
}
.pass {
color:white;
}
