* { 
	padding: 0px;
	margin: 0px;
	outline: 0;
	vertical-align: middle;
	font-family: "Roboto";
	font-weight: bold;
	
}

body{
background-image:url("../img/bg");
background-repeat:no-repeat;
background-color:black;
height:10000px;
}

.titulo {
background-color:black;
border:1px solid white;
text-align:center;
padding: 18px 0;
}

li { 
float:left;
width:12.5%;
list-style-type:none;
color:white;
background-color:black;
position:relative;
text-align:center;
}

li:hover {
color:black;
background-color:white;
}

#header {
color:white;
}

#login {
width:15%;
padding:10px;
position:relative;
color:white;
margin-top:3%;
text-align: center;
}

#log {
text-align: left;
}

input{
margin:10px;
background-color:grey;
}
.boton {
background-color:white;
}
.pass {
color:white;
}
